* { box-sizing: border-box }

html{
    scroll-behavior: smooth;
}
.heading{
    font-size: 5em;
}
body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Open Sans',sans-serif; /* samsett skipun: weight/height, size, family */
    background-color: #3264ce;

}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
.headcolor, .footcolor,.copy{
    color: white;
}
.bground{
    background-color:#fcff4d;
    padding: 1em;
    
}
blockquote{
    background-color: rgba(255, 230, 0, 0.863);
    padding: 1em;
}

.container {
    margin: 0; /* top+bottom og left+right */
    padding: 0.5em;
}
.topbutt{
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em ;
    border-radius: 100%; 
    padding: 0 .4em;
    text-decoration: none;
    font-size: 2em;
    color: rgba(7, 0, 112, 0.829);
    border: 2px solid rgba(7, 0, 112, 0.829);
    background-color: rgba(226, 174, 96, 0.973) ;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em;
 }
 .headcolor h1{
     margin: 2em,0,1,0;
 }
 .headcolor p{
  text-align: left;
}
 .headcolor h1 ,
 .topnav a,.footnav a{
     color: #1451ad;
     text-decoration: none;
 }
 .topnav a:hover,
 .footnav a:hover{
     text-decoration: underline;
 }
 .topnav{
     margin-top: 4em;
     margin-bottom: 2em ;
 }
.footnav li {
    list-style-type: none;
    line-height: 2;
}
.footnav{
    padding: 0;
}
.topnav a{
    padding-left: 2em;
}

.marginbottom{
    margin: .5em 0 0 0;
}
.copy{
    text-align: center;
    color: rgb(238, 209, 171);
}
.vheigt{
    height: 100vh;
}
img{
    max-width: 100%;
    height: auto;
}
.flright{
    float: right;
}
.gluggi {
    width: 100%;
    height: 270px;
}
@media screen and (min-width: 60em) {
    .container {
        
        margin: 1em; 
        padding: 0;
    }
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .col-4 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .gap-4 {
        grid-gap: 4em;
     }
    .foot-col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
    
}
@media screen and (min-width: 48em) {  
   
    .foot-col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    
  }



  




 
  
  