*{
    box-sizing: border-box;
}
body {
    margin: 1em auto;
    max-width: 60em;
    background-color: rgb(0, 0, 0);
    
    padding: 0.5em;
}

.haus {
    grid-area: haus;
    
}
.topnav {
    grid-area: topnav;
    
}
.content {
    grid-area: content;
    
}
.footnav {
    grid-area: footnav;

}
.as1 {
    grid-area: as1;

}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- Template Area --*/ 
.body {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "haus" 
        "topnav"
        "content"
        "footnav"
             
}
.content {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "as1 art1 as2";
    grid-template-columns: 1fr 3fr 1fr;
    
}
.topmenu, .footmenu {
 display: flex;
 flex-flow: row;
 justify-content: space-around;
 margin: 0;
 padding: 1em 0;
 background-color: rgb(56, 54, 54);
 border: 1px solid rgb(24, 23, 23);
 list-style-type: none; 
 
}

.topmenu li a {
    color: #ff0000;
    font-size: 1.1em;
    text-decoration: none;
}
.topmenu li :hover, .footmenu li :hover {
    color: #000000;
    font-size: 1.1em;
    text-decoration: underline;
}
   
p, h1,h2,h3,h4,h5,h6{
    color: white;
}
blockquote{
    color: gray;
}
h1,h2,h3{
    color: red;
    
}
.undir{
    color: rgba(245, 71, 71, 0.63);
}
h1{
    font-family: 'Grenze', serif;
}
h2, h3 {
    font-family: 'Titillium Web', sans-serif;
}
blockquote {
    font-family: 'Great Vibes', cursive;
}
p{
    font-family: 'Mansalva', cursive;
}




