*{
    box-sizing: border-box;
}
body {
    margin: 1em auto;
    max-width: 60em;
    background-color: rgb(0, 0, 0);
    padding: 0.5em;
    
}
.content, .footnav, .haus, .main, .topmenu{
    background-color: #212126 
}
h1, h2,h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
      
}
blockquote {
    color: white;
}
p{
    color: white;
    margin: 1em;
    font-family: 'Mansalva', cursive;
}
.haus {
    grid-area: haus;
    
}
.topnav {
    grid-area: topnav;
    
}
.content {
    grid-area: content;
    
}
.footnav {
    grid-area: footnav;
    
    
    
}
.as1 {
    grid-area: as1;

}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- Template Area --*/ 
.body {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "haus" 
        "topnav"
        "content"
        "footnav"
             
}
.content {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "as1 as2"
    "art1 art1";
    grid-template-columns: 1fr 1fr;
    
}
.topmenu, .footmenu {
 display: flex;
 flex-flow: row;
 justify-content: space-around;
 margin: 0;
 padding: 1em 0;
 background-color: #18181B;
 border: 1px solid gray;
 list-style-type: none; 
 
}

.topmenu li a {
    color: #ffffff;
    font-size: 1.1em;
    text-decoration: none;
}
.topmenu li :hover, .footmenu li :hover {
    color: #B38BEE;
    font-size: 1.1em;
    text-decoration: none;   
}

h1{
    color: white;
    font-size: 1em;
    padding: 1em;
    margin-right: 55em;    
    background-color: #9147FF;
    border: #9147FF solid 0.1em;
    border-radius: 1em;
   
}




/* Vinnugögn */
.haus, .main, .art1, .as1, .as2, .topmenu, .footmenu {
    -border: 1px solid gray;
}
