h1 {
    border: 3px solid green;
}
.redb {
    border: 3px solid red;
    color: red;
    padding: 2em;
    margin-top: 2em;
}
#blueb {
    color: blue;
    border: 4px dashed blue;
    padding: 0.5em;
}
li {
    border: 3px dashed green;
    padding: 1em;
    margin: 1em;
   
}
.inline li {
    display: inline;
    border: 3px dashed blue;
}
.inlineblock li {
    display: inline-block;
    border: 3px dashed red;
}