*{
    box-sizing: border-box;
}
body {
    margin: 1em auto;
    max-width: 60em;
    background-color:  rgba(242, 201, 220, 1); 
    
    border: 1px solid gray;
    padding: 0em;
}
h1{
    font-size: 3em;
}
.haus {
    grid-area: haus;
    
}
.topnav {
    grid-area: topnav;
    
}
.content {
    grid-area: content;
    
}
.footnav {
    grid-area: footnav;
    
    
    
}
.as1 {
    grid-area: as1;

}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- Template Area --*/ 
.body {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "haus" 
        "topnav"
        "content"
        "footnav"
             
}
.haus {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.content {
    display: grid;
    grid-gap: 0;
    margin: 1em;  
    grid-template-areas: 
    "art1 art1"
    "as2 as1";
    grid-template-columns: 3fr 1fr ;
    
}
.footnav, .haus, .main, .topmenu{
    background-color: rgb(216, 118, 182); ; 
    
}
.as1, .as2{
background-color: rgba(216, 97, 163, 1);
margin: 0.1em;
padding: 1em;
}
.art1{
    background-color: rgba(216, 73, 166, 1);
    padding: 1em;
    margin-bottom: 0.3em;
}
.topmenu, .footmenu {
 display: flex;
 flex-flow: row;
 justify-content: space-around;
 margin: 0em;
 padding: 1em 0;
 background-color: rgba(216, 145, 178, 1);
 border: 1px solid gray;
 list-style-type: none; 
 
}
.topmenu li a {
    color: #bef3ef;
    font-size: 1.1em;
    text-decoration: none;
}
.topmenu li :hover, .footmenu li :hover {
    color: #bef3ef;
    font-size: 1.1em;
    text-decoration: underline;
}

h1, h2, h3 {
    color: rgb(117, 4, 121);
    font-family: 'Amatic SC', cursive;
}  

p {
    font-family: 'Mansalva', cursive;
    
}


/* Vinnugögn */
.haus, .main, .art1, .as1, .as2, .topmenu, .footmenu {
    -border: 1px solid gray;
}




