
#ipsum {
    color: black;
}  

body {
    background-color: white;
    color: black;
    width:50em;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 1em auto;
    padding: 1em;
    
}
.menu {
    background: 2em;
    background-color: wheat;
    border: 12px solid wheat;
    border-radius: 5px;
    color: aliceblue;
    margin: 0.5em;

}
#button {
    background-color: aliceblue;
    border: 9px solid aliceblue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    
}
#button:hover {
    background-color: rgb(229, 199, 143);
    border: 9px solid rgb(229, 199, 143);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
div {
    border-bottom: 2px solid gray; ;
}
#AdalF {
    color: blue;
    float: none;
    margin: 0em auto;
    
}
strong {
    color: red;
}
#imagine {
    color: darkred;
    
}
.lennon {
    color: blue;
}
ul {
    color: green;

}
#coute {
    color: blue;

}
center{
    color: blue;
}
#Elvis {
    color: red;
}
