*{
    box-sizing: border-box;
}
body {
    margin: 1em auto;
    max-width: 60em;
    background-color: #ffffff;
    border: 2px solid black;
   
}

.haus {
    grid-area: haus;
    
}
.topnav {
    grid-area: topnav;
    
}
.content {
    grid-area: content;
    
}
.footnav {
    grid-area: footnav;
    
    
    
}
.as1 {
    grid-area: as1;

}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*-- Template Area --*/ 
.body {
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
        "haus" 
        "topnav"
        "content"
        "footnav"
             
}
.content {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    "art1 as1 as2";
    grid-template-columns: 3fr 0.5fr 1fr;
    padding: 1em;
}
.haus {
    padding: 1em;
    
}

.content, .footnav, .haus, .main, .topmenu{
    background-color: #bef3ef 
}
.topmenu, .footmenu {
 display: flex;
 flex-flow: row;
 justify-content: space-around;
 margin: 0;
 list-style-type: none; 
 padding: 1em 0;
 background-color: rgba(0, 17, 255, 0.637);
 border: 1px solid gray;
}
.topmenu li a {
    color: #bef3ef;
    font-size: 1.1em;
    text-decoration: none;
}
.topmenu li :hover, .footmenu li :hover {
    color: #bef3ef;
    font-size: 1.1em;
    text-decoration: underline;
}
/*-- text style --*/
 h1 {
     font-size: 3em;
     font-family: 'Big Shoulders Display', cursive;
     margin: 0;
 }
    

   




/* Vinnugögn */
.haus, .main, .art1, .as1, .as2, .topmenu, .footmenu {
    -border: 1px solid gray;
}
